<!--Education div-->
<div id="education">
    <div id="eduCon">
        <h1>Education</h1>
        <ul>
            <li>
                <p>
                    BSc in Informatics Engineer at Technological Education Institute of Crete, Greece(2:1).
                </p>
                <p>
                    The degree included basic courses such as Mathematics or Physics, in addition to practical
                    courses such as Operational Systems and Data Mining. During the final year, I completed an
                    Internship placement as an IT Support Technician and created an application with the title
                    “Local tourist guide for the region of Heraklion, Crete” as a dissertation research project.
                </p>
            </li>
            <li>
                High School Diploma, 'Kapetanakeio' High School of Heraklion, Crete.
            </li>
        </ul>
    </div>
    <div id="eduImage">
        <img src="https://img.icons8.com/dusk/64/000000/literature.png">
    </div>
</div>
<!--Work div-->
</div>
<div id="work">
    <div id="workCon">
        <h1>Experience</h1>
        <p>
            March 2018 – Present: Junior developer at “Optimal Solicitors” / 2nd Line IT support – Manchester, UK
            Working as a Junior developer/2nd Line IT in the company, entails taking part in multiple activities and
            projects. Development is taking part using a multitude of languages such as C#, SQL, VB, HTML, JS(jquery),
            PHP, APEX, Progress and technologies such as REST, SOAP, XML. Responsibilities within my position consist
            of, but are not limited to:
        </p>
        <ul>
            <li>Updating existing in-house application to accommodate changes within the company and specifications.</li>
            <li>Developing new applications according to specifications and design, using agile methodologies.</li>
            <li>Working as part of the development team using “Trello” and cooperating with the IT team using
                “Spiceworks” ticketing system.</li>
            <li>Office 365 administration: Mail flow rules, User/groups setup-maintenance, etc.</li>
            <li>Active Directory administration: User setup-maintenance.</li>
            <li>Researching technologies that may benefit company processes and/or workflow.</li>
            <li>Reporting to Directors/Managers by presenting findings, displayed in MS Visio charts and MS PowerPoint.</li>
            <li>Taking part in shortlisting interviewing of new IT/Dev employees.</li>
            <li>Liaising with other departments within the company for feedback and suggestions, used in development of
                applications.</li>
        </ul>
    </div>
    <div id="workImage">
        <img src="https://img.icons8.com/dusk/64/000000/administrative-tools.png">
    </div>
</div>
<!--Other div-->
<div id="other">
    <div id="otherCon">
        <h1>Interests</h1>
        <p>Personal Skills</p>
        <ul>
            <li>Full Driving License(A – 2012, B - 2009)</li>
        </ul>
        <p>Languages</p>
        <ul>
            <li>Greek (Native)</li>
            <li>English (Proficient)</li>
        </ul>
        <p>Personal Interests</p>
        <ul>
            <li>Running</li>
            <li>Mountaineering.</li>
            <li>Swimming</li>
        </ul>
    </div>
    <div id="otherImage">
        <img src="https://img.icons8.com/dusk/64/000000/conference-call.png">
    </div>
</div>