<div class="content" ng-controller="controller1">
    <div id="buttons">
        <button id="btn1" ng-click="order = 'name'" class="btn btn-primary">Order by Name</button>
        <button id="btn2" ng-click="order = 'value'" class="btn btn-primary">Order by value</button>
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">#</span>
        <input name="searching" ng-model="search" placeholder="Search by name..." type="text" class="form-control"
            placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <ul id="items">
        <!--<li class="li" ng-repeat="person in people | orderBy: order | filter: search">
            <div><span>{{person.name}} - {{person.value}}</span></div>
            <div id="remove"><span ng-click="removePerson(person)">X</span>
                <hr>
            </div>
        </li>
        -->
        <li class="li" ng-repeat="user in users | orderBy: order | filter: search">
            <div><span>{{user.name}} - {{user.email}}</span></div>
            <div id="remove"><span ng-click="removePerson(user)">X</span>
                <hr>
            </div>
        </li>
    </ul>
    <div>
        <form ng-submit="addPerson()">
            <input type="text" placeholder="name" ng-model="newperson.name" />
            <input type="text" placeholder="name" ng-model="newperson.email" />
            <input type="submit" value="Add person" placeholder="name" />
        </form>
    </div>
    <button data-toggle="collapse" data-target="#demo">Collapsible</button>
    <div id="demo" class="collapse">
        Lorem ipsum dolor text....
    </div>
</div>